// COLORS
$primary-color: #FFF94C;
$secondary-color: #4169e1;

$white-color: #fff;

$dark-grey: #304352;
$light-grey: #d7d2cc;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
